#home
{
    color: #fff;
    height: 100vh;
    background-image: linear-gradient(to top, #001529 0%, #07325F 100%);
    line-height: 11px;
}
#logo{
    width: 40px;
}
button
{
    color: #fff;
}
#feat
{
    background-color: #04578b34;
}
.box1
{
    background-color: #04578B;
    font-weight: bold;
    color: #04578B;
}

#signup
{
    background-color: #04578B;
    padding: 10px;
    border: 1px solid;
    width: 150px;
    font-weight: bold;
    height: 50px;
}

.login
{
    background-color: #04578B;
    border: 1px solid;
    padding: 15px;
    width: 100px;
}

@media (min-width: 992px) {
    
    #feat{max-width: 511px;}
}