.chatContainer
{
    /* background-image: url("./bg.jpeg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%);

}

@keyframes borderMove {
    0% {
        border-left: 2px solid rgba(0, 123, 255, 0);
        border-right: 2px solid rgba(0, 123, 255, 0);
    }
    25% {
        border-left: 2px solid rgba(0, 123, 255, 1);
        border-right: 2px solid rgba(0, 123, 255, 0);
    }
    50% {
        border-left: 2px solid rgba(0, 123, 255, 0);
        border-right: 2px solid rgba(0, 123, 255, 1);
    }
    75% {
        border-left: 2px solid rgba(0, 123, 255, 0);
        border-right: 2px solid rgba(0, 123, 255, 1);
    }
    100% {
        border-left: 2px solid rgba(0, 123, 255, 1);
        border-right: 2px solid rgba(0, 123, 255, 0);
    }
}

.animate-border {
    animation: borderMove 2s linear infinite;
}
.avatar-border {
    position: relative;
    display: inline-block; /* Ensure it wraps the image correctly */
}

.avatar-border img {
    border-radius: 50%;
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    transition: transform 0.3s ease;
}

.avatar-border::before {
    content: '';
    position: absolute;
    top: -5px; /* Adjust the offset */
    left: -5px; /* Adjust the offset */
    right: -5px; /* Adjust the offset */
    bottom: -5px; /* Adjust the offset */
    border-radius: 50%;
    background: linear-gradient(135deg, rgba(0, 123, 255, 1), rgba(255, 0, 150, 1));
    z-index: -1; /* Send the gradient behind the image */
    filter: blur(5px); /* Slight blur for a soft effect */
    transition: transform 0.3s ease;
}

.avatar-border:hover::before {
    transform: scale(1.1); /* Slightly enlarge on hover */
}

.avatar-border:hover img {
    transform: scale(1.05); /* Slightly enlarge image on hover */
}
