.profileCard
{
    /* height: 144px; */
    /* padding: 5rem; */
    background-color: var(--cardBackgound);
}
.coverPic
{
    width: 100%;
    height: 55%;
}
@media (max-width: 768px)
{
    .profileCard
    {
        width: 188px;
    }
}